.centered{
    text-align: center;
}

body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100%;
    color: white;
    
}

.gameArea{
    background-color: black;
    padding-bottom: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}